:root {
	--bg-color:#262a2e;
	--hover-bg-color: #2b3034;
	--hover-text-color: #EFE9F4;
	--hover-link-color: #858b92;
	--main-color: #f58e78;
	--text-color-primary: #f58e78;
	--text-color-secondary: #aaa;
	--border-radius: 10px;
	scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color)!important;
  background-size: cover!important;
  background: url(https://i.imgur.com/DmJduiG.png) no-repeat fixed center 0;
}

div {
	color: var(--main-color);
	font-family: 'Rubik', sans-serif !important;
}

section {
	color: var(--main-color);
	font-family: 'Rubik', sans-serif !important;	
}

nav {
	display: flex;
	align-items: center;	
}

nav ul {
	margin: auto;
	list-style-type: none;
}

nav ul li:hover {
	float: left;		
	background-color: var(--hover-bg-color);
	color: var(--hover-text-color);	
	transform: scale(1.1);
}

nav ul li {
	font-size: 1.2em!important;
	float: left;		
	min-height: 3vw;
	color: var(--text-color-primary);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	transition: background-color 0.4s ease-out, transform 0.4s ease-out;	
}

.container ul {
	margin: auto;
	list-style-type: none;
}

.container ul li:hover {
	transform: scale(1.1);
}

.container ul li {
	transform-origin: left;	
	width: fit-content;
	transition: transform 0.4s ease-out;	
}

.container ul li a:hover {
	transform: scale(1.1);
	background-color: var(--bg-color);
	color: var(--hover-link-color);		
}

.container ul li a {	
	font-size: 1.4em;
	text-decoration: none;
	color: var(--text-color-primary);
	transition: background-color 0.4s ease-out, transform 0.4s ease-out;	
}

nav ul li a:hover {	

}

nav ul li a {			
	height: 100%;
	color: var(--text-color-primary);
	text-decoration: none;
	text-align: center;
	padding: 14px;	
	display: block;
	font-family: 'Rubik', sans-serif !important;
}

.container {
	padding: calc(10px + var(--border-radius));
	max-width: 1000px;
	margin: auto;
	height: 100%;
	overflow: hidden;
	border-radius: var(--border-radius);
	background-color: var(--hover-bg-color);	
	color: var(--text-color-secondary);
}

.centered {
	text-align: center;
}

h1 {
	font-size: 1.5em;
	color: var(--text-color-primary);
}

h2 {
	font-size: 1.2em;
}

p {
	font-size: 1em;
}

img {
	border-radius: var(--border-radius);
	border-color: var(--bg-color);
	border-width: 2px;
	border-style: solid;
}

section {
	margin-bottom: 30px;
	padding-top: 10px;	
	color: var(--text-color-secondary);
}

.inline {
	display: inline;
}

table, th, td {
	border: 1px solid var(--text-color-secondary);
}

table tr td {
	min-width: 5px;
	text-align: center;
	padding: 5px;
}

table tr th {
	min-width: 5px;
	text-align: center;
	padding: 5px;
	color: var(--text-color-primary);
}

.row {
	display: flex;
	flex-wrap: wrap;	
}

.col {
	display: flex;
	width: 31%;
	margin: 10px;
	margin-bottom: 0;
	flex-direction: column;
}

.contact {
	max-width: 400px;
	margin: auto;
	height: 100%;
	color: var(--text-color-primary);
}

.contact input[type="text"], input[type="number"], input[type="email"] {
	width: 100%;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 0;

}

.contact textarea {
	width: 100%;
	max-width: 100%;
	min-height: 100px;
	padding: 0;
}

.gender-select input {
	width: 5%;
}

.submit-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.submit-container input {
	width: 45%;
	height: 2em;
	background-color: var(--text-color-primary);
	color: var(--bg-color);
	border: none;
	border-radius: var(--border-radius);
}

.submit-container input:hover {
	background-color: var(--bg-color);
	color: var(--text-color-secondary);
	cursor: pointer;
}

.question {
	margin: 1rem;	
	padding: 1rem;
	padding-top: 0;
	border-style: solid;
	border-width: 1px;
	border-color: var(--text-color-secondary);
}

.question .answers {
	padding: 0.5 rem;
}